/* Este código elimina el padding que se puede crear por defecto en una lista
 de elementos, en este caso nuestro menú. */

#button {
    padding: 0;
}


/* Por defecto, estas listas se crean de forma vertical, pero nuestro
 menú tiene que ser horizontal, así que le diremos que se pongan en línea usando “display: inline.” */

#button li {
    display: inline;
    font-family: Arial;
    font-size: 100%;
    text-decoration: none;
    float: inline-start;
    padding: 15px;
    color: #fff;
}